[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
pinecone-client = "*"
datasets = "*"
yaspin = "*"
tqdm = "*"
streamlit = "1.33.0"
pypdf2 = "*"
pypdf = "*"
streamlit-server-state = "*"
langchain-pinecone = "*"
matplotlib = "*"
toml = "*"
streamlit-extras = "0.4.2"
streamlit-chat = "*"
tiktoken = "*"
nltk = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
